In [2]:
import pandas as pd
import numpy as np
import random
# from sklearn.model_selection import train_test_split
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.naive_bayes import ComplementNB
# from sklearn.pipeline import Pipeline
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.metrics import confusion_matrix
# from sklearn.metrics import plot_confusion_matrix
# from sklearn.metrics import classification_report
# import operator
import re
import nltk
from nltk.corpus import stopwords
import matplotlib.pyplot as plt

In [3]:
file = "data/movie_reviews.csv"

In [4]:
df = pd.read_csv(file)

In [5]:
df.head()

                                             Summary  Sentiment
0  rock destined st century new conan going make ...          1
1  gorgeously elaborate continuation lord ring tr...          1
2                             effective tepid biopic          1
3  sometimes like go movie fun wasabi good place ...          1
4  emerges something rare issue movie honest keen...          1

In [6]:
df.dropna()

                                                 Summary  Sentiment
0      rock destined st century new conan going make ...          1
1      gorgeously elaborate continuation lord ring tr...          1
2                                 effective tepid biopic          1
3      sometimes like go movie fun wasabi good place ...          1
4      emerges something rare issue movie honest keen...          1
...                                                  ...        ...
10657     terrible movie people nevertheless find moving          0
10658  many definition time waster movie must surely one          0
10659  stand crocodile hunter hurried badly cobbled l...          0
10660            thing look like made home video quickie          0
10661                        enigma well made dry placid          0

[10662 rows x 2 columns]

In [7]:
df.drop_duplicates(keep = 'last', inplace = True)

In [8]:
#df.describe()

In [9]:
#df.info()

In [10]:
df["Sentiment"].value_counts()

1    5330
0    5330
Name: Sentiment, dtype: int64

In [11]:
# Assign X (data) and y (target)
X = df.drop("Sentiment", axis=1)
y = df["Sentiment"]
print(X.shape, y.shape)

(10660, 1) (10660,)

In [12]:
# n = 0
# for row in X.iterrows():
#     if n >= 2:
#         break
#     print(row)
#     n += 1

In [13]:
doc_list = []
words_bag = {}

#build documents with each review's words and sentiment in tuple and append into doc_list
for i in X.index:
#     if i >= 1000:
#         break
    sentence = X["Summary"][i]
    res = re.findall(r'\w+', sentence)
    res_tuple = (res,)
    sent_tuple = (y[i],)
    words_sent_tuple = res_tuple + sent_tuple
    doc_list.append(words_sent_tuple)
    
#get the unique words into words_bag
    for j in range(len(res)):
        if res[j] in words_bag:
            words_bag[res[j]] += 1
        else:
            words_bag[res[j]] = 1
#print(words_bag)

In [14]:
# get the whole words in list
words_features = list(words_bag)
print(len(words_features))

16319

In [15]:
#shuffle the doc_list
random.shuffle(doc_list)

In [16]:
def document_features(d_words):
    document_words = set(d_words)
    features = {}
    for word in words_features:
        features['contains({})'.format(word)] = (word in document_words) #if in return "True" otherwise "False".
    return features

In [ ]:
# Train Naive Bayes classifier
featuresets = [(document_features(d), c) for (d,c) in doc_list]
train_set, test_set = featuresets[3200:], featuresets[:3200] #80% train 20% test, total 16319
classifier = nltk.NaiveBayesClassifier.train(train_set)