In [3]:
#Load in our essentials
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
#Load the data and create the data variables
dataset=pd.read_csv('advertising.csv')
X = dataset.iloc[:,1:4] 
y = dataset['Sales'] 
X_train,X_test,y_train,y_test =train_test_split(X,y)

In [5]:
dataset.head()

                         Date     TV  Radio  Newspaper  Sales
0   Thursday, January 1, 2015  230.1   37.8       69.2   22.1
1   Thursday, January 8, 2015   44.5   39.3       45.1   10.4
2  Thursday, January 15, 2015   17.2   45.9       69.3    9.3
3  Thursday, January 22, 2015  151.5   41.3       58.5   18.5
4  Thursday, January 29, 2015  180.8   10.8       58.4   12.9

In [7]:
# Create and fit the model for prediction
lin = LinearRegression()
lin.fit(X_train,y_train)
y_pred =lin.predict(X_test)
error =np.sum(y_test)-np.sum(y_pred)

In [14]:
error

-13.090052665698295

In [8]:
#Create Coefficients
coef = lin.coef_
components =pd.DataFrame(zip(X.columns,coef),columns=['component','value'])
components =components.append({'component':'intercept','value':lin.intercept_}, ignore_index=True)

In [10]:
# these are the coef for each column and the common intercept
components.head()

   component     value
0         TV  0.026446
1      Radio  0.159667
2  Newspaper  0.011331
3  intercept  6.431979

In [11]:
lin.intercept_

6.431978587865469

In [12]:
X.columns

Index(['TV', 'Radio', 'Newspaper'], dtype='object')

In [13]:
coef

array([0.02644566, 0.15966736, 0.01133116])